<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SCIS Tests</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7f989e">  <td>20/02/19 13:58:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SCISBarcodeScannersTest.verifyProducts(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:scisTest.SCISBarcodeScannersTest@49e4cb85]">verifyProducts</td> 
  <td>main@1698156408</td>   <td></td> </tr>
</table>
